/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.box p {
  font-weight: 500;
  color: gray;
}

.active {
  background-color: rgba(0, 119, 255, 0.158);
  color: rgba(0, 110, 255, 0.503);
}

.box:hover {
  background-color: rgba(0, 119, 255, 0.158);
}

.box:hover p {
  color: rgba(0, 110, 255, 0.503);
}
